Step_Function/state_machine_v1.json
{
    "StartAt": "startTranscribeJob",
    "States": {
        "startTranscribeJob": {
            "Type": "Pass",
            "Resource": "",
            "Next": "getTranscribeJobStatus"
        },

        "getTranscribeJobStatus": {
            "Type": "Pass",
            "Resource": "",
            "Next": "trasncribeJobCompleted?"
        },

        "trasncribeJobCompleted?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.transcribeJobStatus",
                    "StringEquals": "ACTIVE",
                    "Next": "persistTranscribeJobData"
                }
            ],
            "Default": "waitTranscribeJob"
        },

        "waitTranscribeJob": {
            "Type": "Wait",
            "Seconds": 60,
            "Next": "getTranscribeJobStatus"
        },

        "persistTranscribeJobData": {
            "Type": "Pass",
            "Resource": "",
            "Next": "startComprehendJob"
        },

        "startComprehendJob": {
            "Type": "Pass",
            "Resource": "",
            "Next": "getComprehendJobStatus"
        },
        
        "getComprehendJobStatus": {
            "Type": "Pass",
            "Resource": "",
            "Next": "comprehendJobCompleted?"
        },
        
        "comprehendJobCompleted?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.comprehendJobStatus",
                    "StringEquals": "ACTIVE",
                    "Next": "persistComprehendJobData"
                }
            ],
            "Default": "waitComprehendJob"
        },
        
        "waitComprehendJob": {
            "Type": "Wait",
            "Seconds": 600,
            "Next": "getComprehendJobStatus"
        },

        "persistComprehendJobData": {
            "Type": "Pass",
            "Resource": "",
            "Next": "finishWorkflow"
        },
        
        "finishWorkflow": {
            "Type": "Pass",
            "Resource": "",
            "End": true
        }
    }
}